.split-pane{
    -fx-font-size: 12pt;
}
/*죄다 split pane 안에 있어서 아래는 정의 안해도 됨*/

GridPane{
    -fx-font-size: 12pt;
}
HBox{
    -fx-font-size: 12pt;
}
VBox{
    -fx-font-size: 12pt;
}
TableView{
    -fx-font-size: 12pt;
}